# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/

# Env
.env
.env.local
.env.*.local

# Playwright
playwright-report/
test-results/

# Test coverage
coverage/

# Misc
.DS_Store
*.pem
tsconfig.tsbuildinfo
